.title {
  font-size: 2em;
  text-align: center;
  color: #333;
  margin-bottom: 0.5em;
}

.sub-title {
  text-align: center;
  color: #333;
  font-size: 1vh;
}

.wrapper {
  background-color: #ececec ;
  overflow: hidden;
  max-height: 100vh;
}
