.history-container {
    background-color: #ececec;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
    overflow: hidden;

}

.history-header {
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 2.5%;
    border-bottom: 1px solid #888;
}

.history-list {
    list-style: none;
    padding: 0;
    height: 40vh;
    overflow-y: scroll;
    scrollbar-color: #888 #ececec;
    scrollbar-width: thin;
    border-bottom: #888 solid 1px;
}

.delete-icon {
    font-size: 200%;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}

.delete-icon:hover {
    transform: scale(1.2);
}

.delete-icon:active {
    transform: scale(0.95);
}

    


.history-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40vh;
    
}
.history-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-input, .history-output {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.history-entry {
    display: flex;
    flex-direction: row;
    min-width: 90vw;
    justify-content: space-around;
}

.result-input-div, .result-output-div  {
    
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
    min-width: 200px;
    max-width: min-content;
}

.history-entry:last-child {
    border-bottom: none;
}

.history-input, .history-date, .history-time, .history-output {
    margin: 0px;
}

.numeric-output, .numeric-input {
    color: #208ad9;
    display: block;

}

.history-output-binary, .history-output-decimal, .history-output-hex {
    margin-left: 10px;
}

.no-history {
    font-style: italic;
    color: gray;
    font-size: 18px;
    
}

.clear-history-button {
    display: flex;
    max-width: min-content;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #d33c41;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;

    @media screen and (min-width: 400px) {
        width: 150px;
    }

    @media screen and (min-width: 600px) {
        width: 200px;
    }
}
.history-entry {
    transition: all 0.3s ease-in-out;
}
.clear-history-button:hover {
    background-color: #ff3b3b;
}

.clear-history-button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.result-input-div > p, .result-output-div > p {
    font-size: 150%;
}

